body {
    font-family: Ubuntu, sans-serif;
}

th, td {
    text-align: center;
}

tbody:nth-child(even) {
    background-color: #e7f0ed;
}

tbody:nth-child(3), tbody:nth-child(5), tbody:nth-child(7) {
    background-color: #e7ffed;
}

thead, tfoot {
    background-color: #7fb9c2;
}

tbody tr th, #highlight {
    background-color: #628ca6;
    color: white;
}

tbody:nth-child(6):first-child td{
    font-style: italic;
}

tfoot td {
    font-size: -2rem;
}

table {
    box-shadow: 8px 5px 10px #628ca6;
    border-style: none;
    border-collapse: collapse;
    padding: 5px;
}



tbody tr td {
    border: 1px solid #628ca6;
}

tbody tr th, #highlight {
    border: 1px solid white;
}
