body {
    font-family: Ubuntu, sans-serif;
}

th, td {
    text-align: center;
}

thead, tfoot {
    background-color: #7fb9c2;
}

tbody tr th, #highlight {
    background-color: #628ca6;
    color: white;
}

tbody:nth-child(6):first-child td{
    font-style: italic;
}

tfoot td {
    font-size: -1em;
}

table {
    box-shadow: 8px 5px 10px #628ca6;
    border-style: none;
}

tbody tr td {
    border-style: solid;
    border-color: #628ca6;
}

tbody tr th, #highlight {
    border-style: solid;
    border-color: white;
}