@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

header {
    display: grid;
    grid-template-columns: 200px, 300px, 1fr;
    width: 100%;
    align-items: center;
}

.head {
    background-color: purple;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

header img {
    max-width: 75px;
    height: auto;
    grid-column: 1/2;
}

#nameandphrase {
    margin-left: 45px;
    grid-column: 2/3;
    font-size: -3em;
}

header a {
    text-align: right;
    grid-column: 3/4;
}

h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.heroimage {
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.heroimage img {
    width: 100%;
}

.summary {
    background-color: pink;
    color: purple;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.forecast {
    border: black;
    background-color: purple;
    color: white;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.forecast h3 {
    text-align: center;
}

.forecastimgs img {
    display: none;
}

.article {
    background-color: pink;
    color: purple;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.articleone {
    display: none;
}

.articletwo {
    width: 100%;
}

footer {
    background-color: purple;
    color: white;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.location {
    display: none;
}

.map {
    width: 100%;
}

.map img {
    max-width: 400px;
    height: auto;
}

.socialmedia img {
    display: none;
}

.realfooter {
    text-align: center;
}

.menuLinks {
    display: none;
}
