@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

header {
    display: grid;
    grid-template-columns: 200px, 300px, 1fr;
    width: 100%;
    align-items: center;
}

.head {
    background-color: gray;
    color: white;
    width: 100%;
    height: 150px;
    padding: 15px;
    margin-left: -10px;
    position: relative;
}

header img {
    max-width: 75px;
    height: auto;
    grid-column: 1/2;
    position: absolute;
    top: 75px;
}



#nameandphrase {
    margin-left: 45px;
    grid-column: 2/3;
    font-size: 15px;
    position: absolute;
    left: 75px;
}

.menubutton {
  position: absolute;
  right: 30px;
  top: 75px;
  color: white;
}

.menubutton a {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Fjalla One', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
}

h4 {
font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.heroimage {
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.heroimage img {
    width: 100%;
}

.summary {
    background-color: pink;
    color: purple;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.forecast {
    border: black;
    background-color: purple;
    color: white;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.forecast h3 {
    text-align: center;
}

.forecastimgs img {
    display: none;
}

.article {
    background-color: pink;
    color: purple;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.articleone {
    display: none;
}

.articletwo {
    width: 100%;
}

footer {
    background-color: purple;
    color: white;
    width: 100%;
    padding: 15px;
    margin-left: -10px;
}

.location {
    display: none;
}

.map {
    width: 100%;
}

.map img {
    max-width: 400px;
    height: auto;
}

.socialmedia img {
    display: none;
}

.realfooter {
    text-align: center;
}

#menulinks {
    display: none;
    text-align: center;
    width: 100%;
    background-color: pink;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    color: purple;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

nav ul li a:hover {
  background-color: purple;
  color: white;
}

nav ul li {
  padding: 10px;
}