h1, h2 {
    font-family: cursive;
    color: goldenrod;
    text-align: center;
}

section {
    background-color: gray;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    -o-box-shadow: 0 0 10px grey;
}

#cards {
    column-count: 1;
}

@media only screen and (min-width: 40em) {
    #cards {
        column-count: 2;
    }
}

@media only screen and (min-width: 80em) {
    #cards {
        column-count: 4;
    }
}    